.delete-review-button {
    display: flex;
    justify-content: center;
    /* text-indent: 10px; */
    
    border: 1px solid red;
    border-radius: 10px;
    font-weight: 400;
    width: 80px;
    height: 20px;
    background-color: red;
    color: white;
}
.review {
    border: 1px solid red;
}

.review-container {
    margin: 10%;
}