a {
    color: black;
    text-decoration: none;
}
.main-container {
    display: block;
    font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
    /* font-weight: bold; */
    text-decoration: none;
}

.middle-container {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    margin: 3%;
    gap: 1%;
}

.inner-container {
    display: inline-flex;
    /* justify-content: space-between; */
    height: 420px;
    width: 320px;
    padding: 3px;
    /* border: 5px solid rgb(224, 224, 224); */
    margin: 1px;
    border-radius: 25px;
}
.inner-container:hover {
    background-color: rgb(240, 240, 240);
}


.splash-spot-images {
    display: flex;
    width: 320px;
    height: 300px;
    border-radius: 20px;
    transition-duration: 200ms;
}
.splash-spot-images:hover {
    filter: brightness(90%);
    transition-duration: 200ms;
}

.star-rating-home-img {
    display: flex;
    justify-content: flex-end;
    
    /* size: 3px; */
    height: 15px;
    width: 15px;
}

.star-rating-home {
    display: flex;
    /* justify-content: end; */
    align-items: center;
}

.align-text-star-div {
    display: inline-flex;
    justify-content: space-between;
    /* border: 2px yellow solid; */
    width: 315px;
}

.individual-spot-info {
    font-weight: 450;
}

.spotcard-price {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.desc-space {
    /* border-radius: 1px red solid; */
    font-size: 11pt;
    font-weight: 300;
    color: grey;
    padding-bottom: 5px;
}

.spotcard-money {
    margin-top: 7px;
}