.big-spot-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    padding: 0px 80px;
    /* border: 1px solid red; */
}

.name-edit-delete-container {
    display: flex;
}

.spotid-name {
    font-size: 20pt;
}

.name-edit-delete-container {
    display: flex;
    justify-content: space-between;
}

.owner-option-buttons {
    display: flex;
    /* margin: 10px; */
}

.edit-delete {
    /* margin: 10px; */
    margin-left: 8px;
}

.previewImage {
    margin-top: 20px;
    margin-bottom: 20px;
    /* height: 300px; */
    width: 100%;
    height: 30vw;
    border-radius: 13px;
    transition-duration: 200ms;
}
.previewImage:hover {
    /* opacity: 225%; */
    /* box-shadow: 0px 0px 10px black; */
    filter: brightness(90%);
    transition-duration: 200ms;
}

.star-rating-home {
    display: flex;
    /* justify-content: space-between; */
}

.infobar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 30px;
}

.location-info {
    display: flex;
}

.spacers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20pt;
}

.spot-host {
    font-size: 19pt;
    /* opacity: 75%; */
    color: rgba(0, 0, 0, 0.75);
}

.spot-description {
    color: rgba(0, 0, 0, 0.75);
}

.booking-options {
    margin-top: 20px;
    margin-bottom: 20px;
}

.RESERVEDSTUFF {
    margin-top: 12px;
    margin-bottom: 12px;
}

.RESERVEDSTUFFTOTAL {
    margin-top: 12px;
    margin-bottom: 20px;
    font-weight: 600;
}

.benbnbword {
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 40px;
}

.protections {
    font-weight: 300;
    margin-bottom: 50px;
}

.spot-random-info {
    border-bottom: 1px solid lightgrey;
}

.cancellations {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    /* margin-bottom: 20px; */
    /* align-items: center; */
    /* align-content: center; */
}

.calendar {
    height: 23px;
    margin-right: 15px;
}

.offers {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.offers-container {
    display: flex;
    flex-wrap: wrap;
}

.offer-stuff {
    display: flex;
    height: 30px;
    width: 45%;
    font-weight: 300;
    margin-right: 15px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.offer-image {
    width: 30px;
    margin-right: 15px;
    /* padding-top: 5px; */
}